@import "global";
@import "register";
@import "var";
/*TOP BAR*/
@import "top_bar/bar";
@import "top_bar/menu";
/*BOTTOM BAR*/
@import "footer/bar";
/*Window*/
@import "window";
/*HORLOGE*/
@import "clock/main";
/*HORLOGE*/
@import "calculator/main";
@import "batterie";
@import "close";

@import "tic-tact-toe";

@font-face {
    font-family: 'latoLight';
    src:  url('../../Lato/Lato-Light.ttf') format('truetype');;
}
@font-face {
    font-family: 'latoBold';
    src:  url('../../Lato/Lato-Light.ttf') format('truetype');;
}
*{
    font-family: 'latoLight';
}

.box{
    width: 95px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sc{
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    cursor: pointer;
}
.sc::after{
    color: white;
    content: attr(title);
    position: absolute;
    width: 64px;
    text-align: center;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .8em;
}
/* fenetre app */
/* bouton bar des taches */
.mb{
    width: 50px;
    height: 50px;
    background-color: #FFFFFF36;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mb:hover{
    background-color: #FFFFFF36;
}
.mb > div{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}